/* This is the editor's playground (textarea for non-wysiwyg, iframe for wysiwyg). */
.editor
{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.editor, .rich_editor_frame
{
	border: 1px solid #808080;
	padding: 2px !important;
	margin: 0;
}

.rich_editor_frame
{
	background: #fff;
}

/* The resize handle. */
.richedit_resize
{
	height: 0px;
	font-size: 0;
	background: #04250A;
	border-top-width: 0;
	cursor: s-resize;
	width: 100%;
	padding: 0 2px;
}